{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrOn</title>
</head>

<body>
    <table align="center">
        <tr>
            <img src="{% static'images/DrOn_logo.jpg' %}">
            <h1>Welcome to DrOn</h1>
            <input type="button" name="btn_book_now" value="Book Now">
        </tr>
    </table>

</html>