<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <center>
        <h2>Login</h2>
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" name="txt_name" placeholder="Name"></td>
            </tr>
            <tr>
                <td>Mobile Number: </td>
                <td><input type="text" name="txt_number" placeholder="Mobile Number"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" placeholder="Email"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td><input type="text" name="txt_location" placeholder="Location"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" placeholder="password"></td>
            </tr>
        </table><br>
        <input type="button" name="btn_login" value="Login">
        <a href="">signup</a>
    </center>
</body>

</html>